.container {
  padding: 2em;
  display: grid;
  gap: 2em;
}

.titleContainer {
  display: grid;
  gap: 0.5em;
}

.title {
  font-weight: bold;
  font-size: 2em;
  letter-spacing: 0.05em;
}

.subtitle {
  color: var(--light-text-color);
}

.navigation {
}

.links {
  display: flex;
  gap: 0.5em;
  margin: 0 -0.75em;
  flex-wrap: wrap;
  row-gap: 1.5em;
}

.linkItem {
}

.link {
  padding: 0.5em 0.75em 0.4em;
  border-radius: 5px;
  text-decoration: none;
}

.link:not(.activeLink):hover {
  background-color: #e1aec9;
}

.link:not(.activeLink).chaos:hover {
  background-color: #f998ca;
}

.link:not(.activeLink).saltBox:hover {
  background-color: #fbc54d;
}

.activeLink {
  text-decoration: underline;
  cursor: default;
}
