.container {
  padding: 2em;
  display: grid;
  gap: 2em;
}

.titleContainer {
  display: grid;
  gap: 0.5em;
}

.title {
  font-weight: bold;
  font-size: 2em;
  letter-spacing: 0.05em;
}

.subtitle {
  color: var(--light-text-color);
}

.navigation {
}

.links {
  display: flex;
  gap: 1em;
}

.linkItem {
}

.link {
  text-decoration: none;
}

.activeLink {
  text-decoration: underline;
}
