.container {
  display: grid;
  grid-template-columns: 8em auto;
  position: relative;
  color: white;
  min-height: 14em;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.2);
}

.backgroundImage {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  filter: blur(10px);
  transition: transform 250ms ease-in-out;
  transform: scale3d(1, 1, 1);
  pointer-events: none;
  user-select: none;
}

.container:hover .backgroundImage {
  transform: scale3d(1.2, 1.2, 1);
}

.backgroundOverlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.7;
}

.image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: 10;
  pointer-events: none;
  user-select: none;
}

.details {
  padding: 1em;
  z-index: 10;
  text-shadow: 0 0 5px var(--text-color);
  background-color: rgba(0, 0, 0, 0.2);
}

.name {
  font-weight: bold;
  font-size: 1.3em;
  line-height: 1.4em;
  margin: 0 0 0.25em;
}

.owner {
  margin: 0 0 0.75em;
  font-weight: bold;
}

.description {
  line-height: 1.4em;
  max-width: 24em;
}
